<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760693782485-g9k9m4sf22m8kvsqmll0rjqcuk4j3j6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760693782485-g9k9m4sf22m8kvsqmll0rjqcuk4j3j6h</string>
	<key>API_KEY</key>
	<string>AIzaSyAL-T7DbUel8Y5j3ytSw2HxgOnBkwT86ow</string>
	<key>GCM_SENDER_ID</key>
	<string>760693782485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cnumontifier</string>
	<key>PROJECT_ID</key>
	<string>cnumontifier</string>
	<key>STORAGE_BUCKET</key>
	<string>cnumontifier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760693782485:ios:788a83dbee1cc808306f5c</string>
</dict>
</plist>